body {
    font-family: 'Roboto', sans-serif;
}

.esign-header {
    border-bottom: 2px solid #a5a5a5;
    border-bottom-style: inset;
    top: 0px;
    left: 0px;
    background: #4c7ff0;
    z-index: 999;
    height: 60px;
    color: #f7f5f5;
    width: 100%;
    position: fixed;
    padding-top: 20px;
    padding-left: 30px; 
}

.esign-middle {
    width: 110%;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;  
  border-bottom: 5px solid black;
}

.esign-header .heading {
    font-weight: bold;
    font-size: 18px;
}

.clear {
    clear: both;
}

.esign-main-wrapper {
    width: 90%;
}

.esign-header #logo {
    float: left;
    margin-top: -10px;
    margin-right: 10px;
}

.header-left {
    float: left;
    width:90%;
}

.header-right {
    float: left;
    width: 5%;
}

.menu {
    position: fixed;
    right: 10px;
    visibility: hidden;
    z-index:  99999999;
}

.menu:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  left: 100px;
  top: -1px;
}
.menu ul {
    list-style: none;
    margin-top: 5px;
    width: 150px;
    background-color: #fff;
    border: 1px solid #000;
    opacity: 1;
    z-index: 999999;
}

.menu ul li {
    background-image: url(../images/logout.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: left;
    width: 100%;
    color: #000;
    padding-left: 20px;
    margin-left: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    cursor: pointer;
}

.esign-header h2 {
    float: left;
	padding-left: 20px;
	font-family: Arial, sans-serif;
}

.left-block {
    float: left;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid #CACACA;
    border-right: 1px solid #CACACA;
    background: #f7f7f7;
}

#canvas_container {
	position: relative;	
	width: 900px;
	left: 4%;
}

.footer {
	width: 100%;;
	background: #6a727b;
	position: fixed;
	height: 50px;
	bottom: 0;
	left: 0;
    display: none;
	text-align: center;
}

.btn-green {
    padding: 10px;
    background: #82a963;
    color: #fff;
    border: 1px solid #82a963;
    border-style: inset;
    cursor: pointer;
	margin-top: 5px;
}

.btn-blue {
    padding: 10px;
    background: #8080c5;
    color: #fff;
    border: 1px solid #8080c5;
    border-style: inset;
    cursor: pointer;
	margin-top: 5px;
}

.btn-red {
    padding: 10px;
    background: #e06262;
    color: #fff;
    border: 1px solid #f70202;
    border-style: inset;
    cursor: pointer;
	margin-top: 5px;
}

.esign-block {	
	display: none;
	position: fixed;
	width: 550px;
	height: 330px;
	top: 20%;
	left: 30%;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	background: #FFFFFF;
	z-index: 9999;
}

.esign-blk-header {
    background-color: #eeeeff;
    padding: 15px;
    height: 50px;
    border-bottom: 1 solid #ababab;
}

.esign-blk-header-label {
    float: left;
    color: #656596;
    font-weight: 500;
    text-transform: uppercase;
}

.esign-blk-header-close {
    float: right;
    color: #0070a3;
    font-size: 17px;
    opacity: 1;
    text-shadow: 0 1px 0 #fff;
    font-family: cursive;
}

.esign-blk-footer {
    height: 50px;
    background-color: #f3f3f3;
    padding: 13px;
    margin-top: 10px;
    border: 1px solid #f5f5f5;
}

.esign-blk-footer .btn-done {
    float: right;
    background-color: #2779AA;
    border: 1px solid #AED0EA;
    text-transform: uppercase;
    width: 80px;
    color: #FFFFFF;
    margin-left: 20px;
    font-size: 12px;
    padding:  5px;
}

.esign-blk-footer .btn-clear {
    float: right;
    background: #FFFFFF;
    border: 1px solid #a8aabd;
    text-transform: uppercase;
    width: 100px;
}

#signature{
    width: 300px; 
	border: 1px solid #000000;
	border-radius: 3px;
	margin-left: 100px;
    margin-top: 60px;
}

#browse { 
    width: 500px;
    margin: 0;
    position: relative;
    left: 0;
    border-radius: 3px;
}

#browse-btn {
    width: 70px;
    margin: 15% auto;
    /* height: 50px; */
    background-color: blue;
    background-image: url(../images/upload-white.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 50px;
    background-position: 17px 17px;
    padding-top: 16px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    padding-bottom: 16px;
    border-radius: 6px;
}

#download-pdf {
	display: none;
}

#save-pdf {
	display: none;
}

.close-esign {
	right: 0px;
	position: relative;
	float: right;
	cursor: pointer;
}

.close-footer {
	margin-top: 10px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

.open-right {
	width: 50px;
    position: fixed;
    right: 0;
    bottom: 0px;
    padding: 10px;
    background: blue;
    text-align: left;
    display: none;
    cursor: pointer;
}

.open-right img {
    margin-top: 5px;
}

.footer-loader {
	right: 200px;
    z-index: 999999;
    position: fixed;
    display: block;
    bottom: 5px;
	display: none;
}

.msg-success {
    padding: 20px;
    border: 1px solid green;
    background: #97b953;
    color: #fff;
    position: fixed;
    bottom: 0;
    margin-bottom: 1px;
    right: 0;
    margin-right: 1px;
    display: none;
}

.msg-wait {
    padding: 20px;
    border: 1px solid #DDD;
    background: #FFFFFF;
    color: #000000;
    position: fixed;
    top: 40%;
    margin-bottom: 1px;
    left: 30%;
    margin-right: 1px;
    display: none;
}

.msg-error {
    padding: 20px;
    border: 1px solid red;
    background: #e47676;
    color: #fff;
    position: fixed;
    bottom: 0;
    margin-bottom: 1px;
    right: 0;
    margin-right: 1px;
    display: none;
    z-index: 99999;
}

.right-block {
    border: 0px;
    float: left;
    height: 500px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    right: 0;
    /*width: 29%;*/
    position: fixed;
    top: 15%;
    z-index: 99;
}

.signature {
    margin: 30px;
    vertical-align: middle;
    height: 70px;
    padding-left: 30px;
    padding-right: 50px;
    border-top: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    border-left: 5px solid orange;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 auto;
    width: 60%;
    background: rgb(250, 250, 250);
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-image: initial;
    border-radius: 2px;
}


.signature:hover {
  background-color: #fff;
  box-shadow: 0 0 5px 2px #fff, 0 0 8px 2px #DADADA;
}

.signature.preview {
    display: none;
}

.signature-disable {
    opacity: 0.3;
}

.signature-icon {    
    width: 30px;
    float: left;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.signature-label {
    float: left;
    padding-left: 30px;
    margin-top: 3px;
}

.submit-btn {
    padding: 30px;
    height: 80px;
    border-top: 1px solid #DDDDDD;
}

.submit-btn .btn-primary {
    background-color: #7676ff;
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
}

#sign_prev {
    display: hide;
    padding-left: 30px;
}

.tool_handle {
    background-image: url(../images/move.png);
}

.tool_delete {
    background-image: url(../images/trash.png);
}

.tool_right {
    background-image: url(../images/check.png);
}

.tool_handle_wrapper {
    width: 100%;
    height: 30px;
    background: #e6e6e6;
}

.tool_wrapper {
    height: 150px;
    width: 200px;
    border: 1px solid #DADADA;
}

.ui-widget-header {
    width: 30px;
    float: right;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    border: 1px solid #DADADA;
    background-size: 15px 15px;
    background-position: center;
    border: 1px solid #DADADA;
}

.tool_wrapper #sign_prev {    
    position: relative;
    top: 25px;
    left: 25px;
    border: 0px;
}

.help-tooltip {  
  width: 200px;
  border-radius: 6px;
  position: fixed;
  z-index: 99999;
  bottom: 10px;
  right: 10px;
  opacity: 1;
  display: block;
}

.help-tooltip .help-text {
  background-color: #f5f5f7;
  color: #000;
  text-align: center;
  padding: 15px;
}

.help-tooltip .help-done {  
  width: 200px;
  background-color: #8686d0;
  color: #fff;
  margin: 0px;  
  text-align: center;
  border: 1px solid #cfc6e6;
  cursor: pointer;
}

.delete_simg {    
    background-image: url(../images/trash.png);
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-size: 15px 15px;
    border-left: 1px solid #DADADA;
    float: right;
    position: relative;
    width: 40px;
    right: -25px;
    height: 100%;
    top: -71px;
}

.clear-btn {
    background-image: url(../images/eraser.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
    display: none;
    width: 100px;
    color: #000;
    text-align: center;
    border: 1px solid #ff4949;
    background-color: #ff9d8a;
    padding: 3px;
    margin-left: 30px;
    margin-bottom: 4px;
    cursor: pointer;
}

.signature-img {
    /*position: relative;*/
}